---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSecton from "../components/HeroSection.astro";
import Charging from "../components/Charging.astro";
import Model3 from "../components/Model3.astro";
import ModelX from "../components/ModelX.astro";
---

<Layout>
  <LandingHeader />
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll"
  >
    <div class="snap-start"><HeroSecton /></div>
    <div class="snap-start"><Model3 /></div>
    <div class="snap-start"><Charging /></div>
    <div class="snap-start"><ModelX /></div>
  </main>
</Layout>
