<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white text-6xl pt-40 font-medium">Modelo X</h2>
      <p class="text-white text-sm">New way, Everywhere</p>
    </header>

    <footer class="flex flex-col justify-end flex-auto pb-24">
      <div class="flex gap-x-4 justify-center">
        <a
          class="border-2 text-sm rounded font-medium text-white px-12 py-2"
          href="#"
        >
          Prueba de conducción
        </a>
        <a
          class="border-2 text-sm rounded font-medium text-white px-12 py-2"
          href="#"
        >
          Otra Cosa
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute inset-0 z-10">
    <img
      src="/public/model-x.avif"
      alt="Modelo X"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
